<?xml version="1.0" ?>
<launch>
    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
    <arg name="model" default="$(find tomato_arm_ik)/urdf/arm.urdf" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="arm_ik_joy" pkg="tomato_arm_ik" type="arm_ik_joy" output="screen" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tomato_arm_ik)/config/arm_display.rviz"/>
</launch>